@using TravelTripProje.Models.Siniflar
@model List<Blog>

<div class="con-bot">
    @foreach (var x in Model)
    {
    <div class="left">
        <div class="bot-left">
            <img src="~/web/images/pic.jpg" alt="" />
        </div>
        <div class="left-text">
            <h4>@x.Baslik</h4>
            <span class="doller">@x.Tarih</span>
            <p> Açıklama gelecek</p>
            <p> <a href ="/Blog/BlogDetay/@x.ID"> <span class="read">Devamını Oku</span> </a> </p>
        </div>
    </div>
    }
    @*<div class="right">
        <div class="bot-left">
            <img src="~/web/images/pic.jpg" alt="" />
        </div>
        <div class="left-text">
            <h4>Lorem impus buralara bişiler yazılacak</h4>
            <span class="doller">$1024</span>
            <p> lorem impus dolor buralara bişiler yaz</p>
            <p <a href ="#"><span class="read">Read More</span></a></p>
        </div>
    </div>*@
    <div class="clear"></div>
</div>
